* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/style/images/kien-do-NjT4O7WYmwk-unsplash.jpg) ;
    background-size:cover;
    background-repeat: no-repeat;   
    height: 80vh;   /* vh parece preencher a tela diferente da % */
    
    

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell
}

.box {
    margin: auto;   /*Okay, o margin: auto; deixa esse "container" no centro */
    display: flex;
    flex-direction: column;
    width: 500px;

    
    margin-top: 100px;
    text-align: center;
}

h1 {
    margin: 10px;
    font-weight: bold;
}
h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;

    align-items: center;


}

button {
    border: none;
    width: 200px;
    margin: 5px;
    margin-bottom: 10px;
    height: 50px;

    color: white;
}

.btn-increment {
    border: 1px solid gray;
    background-color: darkgray;
}

.btn-save {
    border: 1px solid gray;
    background-color: darkcyan ;
}

p {
    text-align: left;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
 .box {
     width: 250px;
 }    
}

.shows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;



}
.btn-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;

    position: absolute;

    margin-left: 250px;


}

/* MENU LATERAL */
#menu-background {
    position: fixed;
    top: 0;
    width: 150px;
    height: 100%;
    background-color: darkcyan;
    float: left;

    opacity: 0.5;
}

#menu {
    position: fixed;
    top: 0;
    width: 150px;
    height: 100%;
    background-color: transparent;  /* Assim é possível a opacidade sem afetar os itens do menu */
    float: left;

    text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

} 
.icon {
    width: 100px;
    height: 100px;

    margin-top: 25px;
}

li {
    list-style: none;
}




@media (orientation: portrait) {

    p {
        color: red;
    }
    #menu-background {
        background-color: black;
    }
    
}
